<!DOCTYPE html>
<html>
<link rel="stylesheet" href="RO16.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Trirong:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap" rel="stylesheet">
<title> RO16</title>
<body>
    <div class="p1">
        <div class="t1"><p>1</p></div>
        <div class="t2"><p>2553</p></div>
        <div class="t54"><p>ขอลากิจ</p></div>
        <div class="t55"><p>อาจารย์ประจำวิชา CSS111</p></div>
        <div class="t3"><p>รัตนา จงพิศาลพัฒนา</p></div>
        <div class="t4"><p>60090500445</p></div>
        <div class="t5"><p>คณะวิทยาศาสตร์</p></div>
        <div class="t6"><p>วิทยาการคอมพิวเตอร์ประยุกต์</p></div>
        <div class="t7"><p>ปริญญาตรี</p></div>
        <div class="t8"><p>2.98</p></div>
        <div class="t9"><p>4</p></div>
        <div class="t10"><p>ปกติ</p></div>
        <div class="t11"><p>0633437712</p></div>
        <div class="t12"><p>thang_thang_rattana@hotmail.com</p></div>
        <div class="t56"><p>รศ.ชูเกียรติ วรสุชีพ</p></div>
        <div class="t58"><p>7</p></div>
        <div class="t59"><p>7 เมษยน 2564</p></div>
        <div class="t60"><p>14 เมษยน 2564</p></div>
        <div class="t57"><p>ดังนั้นการลากิจจึงต้องพิจารณาไปตามหลักเกณฑ์และเงื่อนไขที่นายจ้างกำหนดตามข้อบังคับเกี่ยวกับการทำงานหรือบางแห่งอาจมีระเบียบการลากำหนดไว้โดยเฉพาะก็ให้บังคับและปฏิบัติตามระเบียบดังกล่าวได้</p></div>
        <div class="t49"><p>ยินยอมให้ลาป่วยเนื่องจากอาการของนักศึกษาค่อนข้างรุนแรง และขอให้ดูแลสุขภาพด้วยนะครับ</p></div>
        <div class="t50"><img class="signature"src="https://www.img.in.th/images/518afbb8aa9556ee5820c5eaa9f69666.png" alt="1.png" /></div>
        <div class="t51"><p>ยินยอมให้ลาป่วยเนื่องจากอาการของนักศึกษาค่อนข้างรุนแรง และขอให้ดูแลสุขภาพด้วยนะครับ อย่าลืมที่จะล้างมือและใส่หน้ากากอนามัยทุกครั้งที่ออกจากบ้านนะครับ</p></div>
        <div class="t52"><img class="signature"src="https://www.img.in.th/images/518afbb8aa9556ee5820c5eaa9f69666.png" alt="1.png" /></div>
        <div class="t61"><p>ยินยอมให้ลาป่วยเนื่องจากอาการของนักศึกษาค่อนข้างรุนแรง และขอให้ดูแลสุขภาพด้วยนะครับ อย่าลืมที่จะล้างมือและใส่หน้ากากอนามัยทุกครั้งที่ออกจากบ้านนะครับ</p></div>
        <div class="t53"><img class="signature"src="https://www.img.in.th/images/518afbb8aa9556ee5820c5eaa9f69666.png" alt="1.png" /></div>
        <div class="header">
            <div class="img-logo">
                <img src="https://www.img.in.th/images/bf3e5a1ed885f67f38b8abb9decf470e.jpg" alt="logo.jpg" />

            </div>
            <div class="title">
                <h1 class="head">มหาวิทยาลัยเทคโนโลยีพระจอมเกล้าธนบุรี</h4>
                <h2 class="headeng">King Mongkut’s University of Technology Thonburi</h5>
                <h5 class="subhead">คำร้องขอลาป่วย/ลากิจ</h5>
                <h5 class="subhead">Request Form for Sick Leave / Personal Leave</h5>
                <div class="sb-title">
                    <p class="text">ภาคการศึกษาที่ ........... </p>
                    <p class="text">ปีการศึกษา ...........</p>
                </div>
            </div>
            <div class="ro-26">
                <h3 class="headright">RO-01</h1>
            </div>
        </div>
        <!-- LINE -->
        <hr size="1" width="100%" color="black">  
        <div class="form-content">
            <p class="text1">เรื่อง.................................................................................................... </p>
            <p class="text1">สิ่งที่ส่งมาด้วย 1........................................................................................ </p>
            <p class="text1">สิ่งที่ส่งมาด้วย 2........................................................................................ </p>
            <div class="row">
                <div class="col-6">
                    <p class="text1">ชื่อ-สกุล (นาย/นางสาว/นาง) ................................................................</p>
                </div>
                <div class="col-6">
                    <p class="text1">รหัสประจำตัวนักศึกษา .............................................................................</p>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <p class="text1">คณะ  ....................................................................................................</p>
                </div>
                <div class="col-6">
                    <p class="text1">ภาควิชา/สาขาวิชา  ....................................................................................</p>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <p class="text1">ระดับการศึกษา ..............................</p>
                </div>
                <div class="col-3">
                    <p class="text1">คะแนนเฉลี่ยสะสม ......................</p>
                </div>
                <div class="col-3">
                    <p class="text1">ชั้นปี ..........................................</p>
                </div>
                <div class="col-3">
                    <p class="text1">หลักสูตร .........................................</p>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <p class="text1">Tel :  .................................................................................................... </p>
                </div>
                <div class="col-6">
                    <p class="text1">E-Mail : ..................................................................................................</p>
                </div>
            </div>
            <p class="text1">อาจารย์ที่ปรึกษา ..........................................................................................................................................................................................................</p>
        </div>
        <!-- <hr size="1" width="100%" color="black" >  -->
        <div class="form-content2">
            <div class="row">
                <div class="col-33">
                    <p class="text1">มีกำหนดระยะเวลา ....................................วัน</p>
                </div>
                <div class="col-33">
                    <p class="text1">ตั้งแต่วันที่ ........................................................</p>
                </div>
                <div class="col-33">
                    <p class="text1">ถึงวันที่ ...............................................................</p>
                </div>
            </div>
            <div class="info-box">
                <p>เนื่องจาก(โปรดระบุโดยละเอียด) .................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................. </p>
                <p>จึงเรียนมาเพื่อโปรดพิจารณา</p>
            </div>    
        </div>
        <div class="form-content2">
            <h4 class="titleadd">ความคิดเห็นและข้อเสนอแนะ</h5>
                <div class="row">
                    <div class="col-33">
                        <div class="comment-box">
                            <p>..................................................................................................................................................................................................................................................................................................................................................................................................................................................................................... (ลงชื่ออาจารย์ผู้สอน)</p>
                            <p>..../..../....</p>
                        </div>
                    </div>
                    <div class="col-33">
                        <div class="comment-box">
                            <p>..................................................................................................................................................................................................................................................................................................................................................................................................................................................................................... (ลงชื่ออาจารย์ที่ปรึกษา)</p>
                            <p>..../..../....</p>
                        </div>
                    </div>
                    <div class="col-33">
                        <div class="comment-box">
                            <p>..................................................................................................................................................................................................................................................................................................................................................................................................................................................................................... (ลงชื่อหัวหน้าภาควิชา)</p>
                            <p>..../..../....</p>
                        </div>
                    </div>
                </div> 
        </div>
    </div>
    
</body>
</html>
