
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
            @import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

            .head {
                width: 678px;
                height: 705px;
                background: #F6F6F6;
            }

            h1 {
                position: relative;
                top: -5%;
                font-family: 'Roboto';
                text-align: center;
                color: #FFA012;
            }

            .box {
                position: relative;
                left: 15%;
                width: 458px;
                height: 495px;
                align-items: center;
                text-align: center;
                background: #FFFFFF;
                border-radius: 10px;
            }

            .text {
                position: relative;
                color: #FFA012;
                padding-top: 40px;
                padding-bottom: 60px;
                font-style: normal;
                font-weight: bold;
                font-size: 24px;
                line-height: 28px;
                font-family: 'Kanit';
            }

            p {
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 19px;
                letter-spacing: 0.04em;
                font-family: 'Kanit';
                color: #838383;
            }

            button {
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 23px;
                color: white;
                padding: 13px 12px;
                background: #FFA012;
                cursor: pointer;
                border-radius: 30px;
                border: 1px solid;
                margin-bottom: 30px;
                margin-top: 55px;
                font-family: 'Roboto';
            }

            button:hover {
                transition: 0.2;
                background-color: white;
                color: #FFA012;
            }

            .logo {
                position: relative;
                left: 20%;
                top: 5%;
            }
            
            .s {
                position: relative;
                top: 5%;
                left: 25%;
            }
        </style>


        <div class="head">
            <div class="s">
                <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="25" cy="25" r="25" fill="#FFA012"/>
                    <path d="M15.5781 37V11.4062H23.4531C25.7031 11.4062 27.7129 11.916 29.4824 12.9355C31.2637 13.9434 32.6523 15.3848 33.6484 17.2598C34.6445 19.123 35.1426 21.2441 35.1426 23.623V24.8008C35.1426 27.1797 34.6504 29.2949 33.666 31.1465C32.6934 32.998 31.3164 34.4336 29.5352 35.4531C27.7539 36.4727 25.7441 36.9883 23.5059 37H15.5781ZM20.8516 15.6777V32.7637H23.4004C25.4629 32.7637 27.0391 32.0898 28.1289 30.7422C29.2188 29.3945 29.7754 27.4668 29.7988 24.959V23.6055C29.7988 21.0039 29.2598 19.0352 28.1816 17.6992C27.1035 16.3516 25.5273 15.6777 23.4531 15.6777H20.8516Z" fill="white"/>
                    </svg>
            </div>

            <h1>DOCUMENTOR</h1>
  
            <div class="box">
                <p class="text">ขอขอบคุณ</p>
                <p>ขอขอบคุณที่ท่านได้ใช้บริการ Documentor</p>
                <p>เอกสารคำร้องขอ <%= locals.type_name %> ของนักศึกษารหัส <%= locals.student_id %> <%= locals.name %> ได้รับการตอบรับเรียบร้อยแล้ว ท่านสามารถตรวจสอบได้ที่ Documentor</p>
                
                <a href=<%= locals.validate_url %>><button type="button">Validate</button></a>
                <svg width="456" height="102" viewBox="0 0 456 102" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M165.806 39.1966C123.842 5.53622 35.7074 0.189338 -0.193174 1.50028L-0.193174 69.4922C-0.193174 74.819 3.9825 79.2108 9.30256 79.4795L436.642 101.057C445.159 101.487 448.331 93.6129 441.212 88.9163C429.148 80.9568 409.977 69.657 381.061 54.8758C313.732 20.4584 218.26 81.272 165.806 39.1966Z" fill="#FFED8E"/>
                    <path d="M165.879 53.3571C121.183 21.7792 36.5412 19.9982 -0.192871 23.055V92C-0.192871 97.5229 4.28428 102 9.80713 102H446.838C455.419 102 458.154 93.9346 450.723 89.6455C437.962 82.2806 417.732 71.9164 387.309 58.5405C316.574 27.441 221.749 92.8295 165.879 53.3571Z" fill="#FFA012"/>
                </svg>

            </div>
        </div>
  