<!DOCTYPE html>
<html>

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Trirong:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">

<style type="text/css">

*{
    font-size: 11px;
}

.p1 {
    overflow: hidden; 
    position: relative; 
    background-color: rgb(255, 255, 255); 
    width: 595px; 
    height: 842px;
    padding: 30px;
    border: 1px solid tomato;
}

.head{
    font-family: 'Trirong', serif;
    font-size: 20px;
    font-weight: 200;
    margin: 0px 0px 0.5% 0px;
    text-align: center;
    justify-content: center;
    margin-left: 15%;
    
}

.headeng {
    text-align: center;
    font-family: 'Trirong', serif;
    font-size: 13px;
    font-weight: 500;
    margin: 0px 0px 1% 0px;
    margin-left: 12%;
}

.subhead {
    text-align: center;
    font-family: 'Trirong', serif;
    font-size: 15px;
    font-weight: 300;
    margin: 0px 0px 1% 0px;
    margin-left: 15%;
}

.headright {
    text-align: right;
    font-family: 'Trirong', serif;
    font-size: 30px;
    font-weight: 600;
    margin: 0px;
    margin-right: 50%;
    background-color: transparent;
    position: absolute;
    width: 90%;
}

.header {
    display: flex;
}

.text {
    margin-right: 2.5%;
    margin-top: 0px;
    margin-bottom: 0px;
    
}

.text1 {
    margin-right: 1.5%;
    margin-top: 2%;
    margin-bottom: 0px;
    font-size: 12px;
}

.text2 {
    margin-right: 7.5%;
    margin-top: 7.5%;
    margin-bottom: 0px;
    
}


.titleadd{
    font-family: 'Trirong', serif;
    font-size: 15px;
    font-weight: 500;
    margin: 2% 0px 1% 0px;
    text-align: left;
    justify-content: center;
    font-family: 'Trirong', serif;
    
}

.img-logo {
    margin-left: -40%;
    background-color: transparent;
    position: absolute;
    width: 10%;
}

.logo-img{
    width: 75%;
    height: 75%;
}

.title {
    text-align: center;
    width: 80%;
    font-family: 'Trirong', serif;
}

.sb-title{
    display: flex;
    justify-content: center;
}

.form-content {
    font-family: 'Trirong', serif;
}

.form-content2 {
    font-family: 'Trirong', serif;
}

.ro-26{
    width: 20%;
    text-align: right;
}


.row {
    display: flex;
}

.col-6 {
    flex: 0 0 50%;
}

.col-3 {
    flex: 0 0 25%;
}

.col-33 {
    flex: 0 0 33.33333333333333%;
    height: 100%;
    max-width: 33.33333333333333%;
    word-wrap: break-word;
}

.comment-box {
    padding: 5px;
    border: 1px solid black;
    margin: 10px 12px;
    text-align: center;
}

.col-1 {
    flex: 0 0 30%;
    padding: 10px;

}

.col-2 {
    flex: 0 0 20%;
}

hr {
    margin-top: 16px;
}

.t1 {
    font-family: 'Trirong', serif;
    width: 10%;
    position: absolute;
    top: 14%;
    left: 42%;
    color: rgb(255, 71, 58);
}

.t2 {
    font-family: 'Trirong', serif;
    width: 10%;
    position: absolute;
    top: 14%;
    left: 56.5%;
    color: rgb(255, 71, 58);
}

.t3 {
    font-family: 'Trirong', serif;
    text-align: center;
    width: 25%;
    position: absolute;
    top: 20.7%;
    left: 5%;
    color: rgb(255, 71, 58);
}

.t4 {
    font-family: 'Trirong', serif;
    text-align: center;
    width: 25%;
    position: absolute;
    top: 20.7%;
    left: 50%;
    color: rgb(255, 71, 58);
}

.t5 {
    font-family: 'Trirong', serif;
    text-align: center;
    width: 25%;
    position: absolute;
    top: 23.5%;
    left: 6.8%;
    color: rgb(255, 71, 58);
}

.t6 {
    font-family: 'Trirong', serif;
    text-align: center;
    width: 25%;
    position: absolute;
    top: 23.5%;
    left: 58%;
    color: rgb(255, 71, 58);
}

.t7 {
    font-family: 'Trirong', serif;
    text-align: center;
    width: 25%;
    position: absolute;
    top: 26%;
    left: 12%;
    color: rgb(255, 71, 58);
}

.t8 {
    font-family: 'Trirong', serif;
    text-align: center;
    width: 25%;
    position: absolute;
    top: 26%;
    left: 39%;
    color: rgb(255, 71, 58);
}

.t9 {
    font-family: 'Trirong', serif;
    text-align: center;
    width: 25%;
    position: absolute;
    top: 26%;
    left: 52.5%;
    color: rgb(255, 71, 58);
}

.t10 {
    font-family: 'Trirong', serif;
    text-align: center;
    width: 25%;
    position: absolute;
    top: 26%;
    left: 74%;
    color: rgb(255, 71, 58);
}

.t11 {
    font-family: 'Trirong', serif;
    text-align: center;
    width: 25%;
    position: absolute;
    top: 29%;
    left: 6.9%;
    color: rgb(255, 71, 58);
}

.t12 {
    font-family: 'Trirong', serif;
    text-align: center;
    width: 25%;
    position: absolute;
    top: 29%;
    left: 56%;
    color: rgb(255, 71, 58);
}

.t13 {
    font-family: 'Trirong', serif;
    text-align: center;
    width: 20%;
    position: absolute;
    top: 35.5%;
    left: 7.5%;
    color: rgb(255, 71, 58);
}

.t14 {
    font-family: 'Trirong', serif;
    text-align: center;
    width: 20%;
    position: absolute;
    top: 35.5%;
    left: 28%;
    color: rgb(255, 71, 58);
}

.t15 {
    font-family: 'Trirong', serif;
    text-align: center;
    width: 20%;
    position: absolute;
    top: 35.5%;
    left: 51%;
    color: rgb(255, 71, 58);
}

.t16 {
    font-family: 'Trirong', serif;
    text-align: center;
    width: 20%;
    position: absolute;
    top: 34.5%;
    left: 77%;
    color: rgb(255, 71, 58);
}

.signature {
    width: 100px;
    height: auto;
}

.t17 {
    font-family: 'Trirong', serif;
    text-align: center;
    width: 20%;
    position: absolute;
    top: 38%;
    left: 7.5%;
    color: rgb(255, 71, 58);
}

.t18 {
    font-family: 'Trirong', serif;
    text-align: center;
    width: 20%;
    position: absolute;
    top: 38%;
    left: 28%;
    color: rgb(255, 71, 58);
}

.t19 {
    font-family: 'Trirong', serif;
    text-align: center;
    width: 20%;
    position: absolute;
    top: 38%;
    left: 51%;
    color: rgb(255, 71, 58);
}

.t20 {
    font-family: 'Trirong', serif;
    text-align: center;
    width: 20%;
    position: absolute;
    top: 37%;
    left: 77%;;
    color: rgb(255, 71, 58);
}


.t21 {
    font-family: 'Trirong', serif;
    text-align: center;
    width: 20%;
    position: absolute;
    top: 40.5%;
    left: 7.5%;
    color: rgb(255, 71, 58);
}

.t22 {
    font-family: 'Trirong', serif;
    text-align: center;
    width: 20%;
    position: absolute;
    top: 40.5%;
    left: 28%;
    color: rgb(255, 71, 58);
}

.t23 {
    font-family: 'Trirong', serif;
    text-align: center;
    width: 20%;
    position: absolute;
    top: 40.5%;
    left: 51%;
    color: rgb(255, 71, 58);
}

.t24 {
    font-family: 'Trirong', serif;
    text-align: center;
    width: 20%;
    position: absolute;
    top: 39.5%;
    left: 77%;
    color: rgb(255, 71, 58);
}

.t25 {
    font-family: 'Trirong', serif;
    text-align: center;
    width: 20%;
    position: absolute;
    top: 47%;
    left: 7.5%;
    color: rgb(255, 71, 58);
}

.t26 {
    font-family: 'Trirong', serif;
    text-align: center;
    width: 20%;
    position: absolute;
    top: 47%;
    left: 28%;
    color: rgb(255, 71, 58);
}

.t27 {
    font-family: 'Trirong', serif;
    text-align: center;
    width: 20%;
    position: absolute;
    top: 47%;
    left: 51%;
    color: rgb(255, 71, 58);
}

.t28 {
    font-family: 'Trirong', serif;
    text-align: center;
    width: 20%;
    position: absolute;
    top: 46%;
    left: 77%;
    color: rgb(255, 71, 58);
}

.t29 {
    font-family: 'Trirong', serif;
    text-align: center;
    width: 20%;
    position: absolute;
    top: 49.5%;
    left: 7.5%;
    color: rgb(255, 71, 58);
}

.t30 {
    font-family: 'Trirong', serif;
    text-align: center;
    width: 20%;
    position: absolute;
    top: 49.5%;
    left: 28%;
    color: rgb(255, 71, 58);
}

.t31 {
    font-family: 'Trirong', serif;
    text-align: center;
    width: 20%;
    position: absolute;
    top: 49.5%;
    left: 51%;
    color: rgb(255, 71, 58);
}

.t32 {
    font-family: 'Trirong', serif;
    text-align: center;
    width: 20%;
    position: absolute;
    top: 48.5%;
    left: 77%;
    color: rgb(255, 71, 58);
}

.t33 {
    font-family: 'Trirong', serif;
    text-align: center;
    width: 20%;
    position: absolute;
    top: 52%;
    left: 7.5%;
    color: rgb(255, 71, 58);
}

.t34 {
    font-family: 'Trirong', serif;
    text-align: center;
    width: 20%;
    position: absolute;
    top: 52%;
    left: 28%;
    color: rgb(255, 71, 58);
}

.t35 {
    font-family: 'Trirong', serif;
    text-align: center;
    width: 20%;
    position: absolute;
    top: 52%;
    left: 51%;
    color: rgb(255, 71, 58);
}

.t36 {
    font-family: 'Trirong', serif;
    text-align: center;
    width: 20%;
    position: absolute;
    top: 51%;
    left: 77%;
    color: rgb(255, 71, 58);
}

.t37 {
    font-family: 'Trirong', serif;
    text-align: center;
    width: 20%;
    position: absolute;
    top: 58.5%;
    left: 7.5%;
    color: rgb(255, 71, 58);
}

.t38 {
    font-family: 'Trirong', serif;
    text-align: center;
    width: 20%;
    position: absolute;
    top: 58.5%;
    left: 28%;
    color: rgb(255, 71, 58);
}

.t39 {
    font-family: 'Trirong', serif;
    text-align: center;
    width: 20%;
    position: absolute;
    top: 58.5%;
    left: 51%;
    color: rgb(255, 71, 58);
}

.t40 {
    font-family: 'Trirong', serif;
    text-align: center;
    width: 20%;
    position: absolute;
    top: 57.5%;
    left: 77%;
    color: rgb(255, 71, 58);
}

.t41 {
    font-family: 'Trirong', serif;
    text-align: center;
    width: 20%;
    position: absolute;
    top: 61%;
    left: 7.5%;
    color: rgb(255, 71, 58);
}

.t42 {
    font-family: 'Trirong', serif;
    text-align: center;
    width: 20%;
    position: absolute;
    top: 61%;
    left: 28%;
    color: rgb(255, 71, 58);
}

.t43 {
    font-family: 'Trirong', serif;
    text-align: center;
    width: 20%;
    position: absolute;
    top: 61%;
    left: 51%;
    color: rgb(255, 71, 58);
}

.t44 {
    font-family: 'Trirong', serif;
    text-align: center;
    width: 20%;
    position: absolute;
    top: 60%;
    left: 77%;
    color: rgb(255, 71, 58);
}

.t45 {
    font-family: 'Trirong', serif;
    text-align: center;
    width: 20%;
    position: absolute;
    top: 63.5%;
    left: 7.5%;
    color: rgb(255, 71, 58);
}

.t46 {
    font-family: 'Trirong', serif;
    text-align: center;
    width: 20%;
    position: absolute;
    top: 63.5%;
    left: 28%;
    color: rgb(255, 71, 58);
}

.t47 {
    font-family: 'Trirong', serif;
    text-align: center;
    width: 20%;
    position: absolute;
    top: 63.5%;
    left: 51%;
    color: rgb(255, 71, 58);
}

.t48 {
    font-family: 'Trirong', serif;
    text-align: center;
    width: 20%;
    position: absolute;
    top: 62.5%;
    left: 77%;
    color: rgb(255, 71, 58);
}

.t49 {
    font-family: 'Trirong', serif;
    width: 25%;
    position: absolute;
    top: 72.5%;
    left: 8%;
    color: rgb(255, 71, 58);
    word-break: break-word;
    text-align: left;
}

.t50 {
    font-family: 'Trirong', serif;
    text-align: center;
    width: 25%;
    position: absolute;
    top: 82%;
    left: 7%;
    color: rgb(255, 71, 58);
    word-break: break-word;
}

.t51 {
    font-family: 'Trirong', serif;
    width: 25%;
    position: absolute;
    top: 72.5%;
    left: 38%;
    color: rgb(255, 71, 58);
    word-break: break-word;
    text-align: left;
}

.t52 {
    font-family: 'Trirong', serif;
    text-align: center;
    width: 25%;
    position: absolute;
    top: 82%;
    left: 37%;
    color: rgb(255, 71, 58);
    word-break: break-word;
}

.t53 {
    font-family: 'Trirong', serif;
    text-align: center;
    width: 25%;
    position: absolute;
    top: 82%;
    left: 67.6%;
    color: rgb(255, 71, 58);
    word-break: break-word;
}

.from-row-header {
    display: table;
    width: 50%;
    margin-left: 30%;
}

.from-row {
    display: table;
    width: 100%;
}

.in-row-cell {
    display: table-cell;
}

.signature-mini{
    width: 50%;
    height: 50%;
}

.shh{
    color: white;
}

</style>
<title> RO26</title>
<body>
    <div class="p1">
        <div class="t1"><p>1</p></div>
        <div class="t2"><p>2553</p></div>
        <div class="t3"><p>รัตนา จงพิศาลพัฒนา</p></div>
        <div class="t4"><p>60090500445</p></div>
        <div class="t5"><p>คณะวิทยาศาสตร์</p></div>
        <div class="t6"><p>วิทยาการคอมพิวเตอร์ประยุกต์</p></div>
        <div class="t7"><p>ปริญญาตรี</p></div>
        <div class="t8"><p>2.98</p></div>
        <div class="t9"><p>4</p></div>
        <div class="t10"><p>ปกติ</p></div>
        <div class="t11"><p>0633437712</p></div>
        <div class="t12"><p>thang_thang_rattana@hotmail.com</p></div>
        <div class="t13"><p>CSS111</p></div>
        <div class="t14"><p>21</p></div>
        <div class="t15"><p>3</p></div>
        <div class="t16"><img class="signature-mini"src="https://www.img.in.th/images/518afbb8aa9556ee5820c5eaa9f69666.png" alt="1.png" /></div>
        <div class="t17"><p>CSS112</p></div>
        <div class="t18"><p>22</p></div>
        <div class="t19"><p>3</p></div>
        <div class="t20"><img class="signature-mini"src="https://www.img.in.th/images/518afbb8aa9556ee5820c5eaa9f69666.png" alt="1.png" /></div>
        <div class="t21"><p>CSS113</p></div>
        <div class="t22"><p>23</p></div>
        <div class="t23"><p>3</p></div>
        <div class="t24"><img class="signature-mini"src="https://www.img.in.th/images/518afbb8aa9556ee5820c5eaa9f69666.png" alt="1.png" /></div>
        <div class="t25"><p>CSS211</p></div>
        <div class="t26"><p>41</p></div>
        <div class="t27"><p>3</p></div>
        <div class="t28"><img class="signature-mini"src="https://www.img.in.th/images/518afbb8aa9556ee5820c5eaa9f69666.png" alt="1.png" /></div>
        <div class="t29"><p>CSS212</p></div>
        <div class="t30"><p>42</p></div>
        <div class="t31"><p>3</p></div>
        <div class="t32"><img class="signature-mini"src="https://www.img.in.th/images/518afbb8aa9556ee5820c5eaa9f69666.png" alt="1.png" /></div>
        <div class="t33"><p>CSS213</p></div>
        <div class="t34"><p>43</p></div>
        <div class="t35"><p>3</p></div>
        <div class="t36"><img class="signature-mini"src="https://www.img.in.th/images/518afbb8aa9556ee5820c5eaa9f69666.png" alt="1.png" /></div>
        <div class="t37"><p>CSS311</p></div>
        <div class="t38"><p>61</p></div>
        <div class="t39"><p>3</p></div>
        <div class="t40"><img class="signature-mini"src="https://www.img.in.th/images/518afbb8aa9556ee5820c5eaa9f69666.png" alt="1.png" /></div>
        <div class="t41"><p>CSS312</p></div>
        <div class="t42"><p>62</p></div>
        <div class="t43"><p>3</p></div>
        <div class="t44"><img class="signature-mini"src="https://www.img.in.th/images/518afbb8aa9556ee5820c5eaa9f69666.png" alt="1.png" /></div>
        <div class="t45"><p>CSS313</p></div>
        <div class="t46"><p>63</p></div>
        <div class="t47"><p>3</p></div>
        <div class="t48"><img class="signature-mini"src="https://www.img.in.th/images/518afbb8aa9556ee5820c5eaa9f69666.png" alt="1.png" /></div>
        <div class="t49"><p>ยินยอมให้เปลี่ยนกลุ่มวิชาเนื่องจากนักศึกษามีความประสงค์จะเรียนวิชานี้จริงๆ</p></div>
        <div class="t50"><img class="signature"src="https://www.img.in.th/images/518afbb8aa9556ee5820c5eaa9f69666.png" alt="1.png" /></div>
        <div class="t51"><p>ยินยอมให้เปลี่ยนกลุ่มวิชาเนื่องจากนักศึกษามีความประสงค์จะเรียนวิชานี้จริงๆนะครับบบบบบบ</p></div>
        <div class="t52"><img class="signature"src="https://www.img.in.th/images/518afbb8aa9556ee5820c5eaa9f69666.png" alt="1.png" /></div>
        <div class="t53"><img class="signature"src="https://www.img.in.th/images/518afbb8aa9556ee5820c5eaa9f69666.png" alt="1.png" /></div>
        <div class="header">

            <div class="title">
                <h3 class="headright">RO-26</h1>
                    <img src="https://www.img.in.th/images/bf3e5a1ed885f67f38b8abb9decf470e.jpg" class="img-logo" alt="logo.jpg" class="logo-img" />
                <h1 class="head">มหาวิทยาลัยเทคโนโลยีพระจอมเกล้าธนบุรี</h4>
                <h2 class="headeng">King Mongkut’s University of Technology Thonburi</h5>
                <h5 class="subhead">ใบลงทะเบียนเพิ่ม-ลด-ถอน-เปลี่ยนกลุ่มเรียน</h5>
                <h5 class="subhead">Additional, Withdrawal, Changes Form</h5>
                <div class="from-row-header">
                    <p class="in-row-cell">ภาคการศึกษาที่ ........... </p>
                    <p class="in-row-cell">ปีการศึกษา ...........</p>
                </div>
            </div>

        </div>
        <!-- LINE -->
        <hr size="1" width="100%" color="black">  
        <div class="form-content">
            <div class="from-row">
                <div class="in-row-cell">
                    <p class="text1">ชื่อ-สกุล (นาย/นางสาว/นาง) ................................................................</p>
                </div>
                <div class="in-row-cell">
                    <p class="text1">รหัสประจำตัวนักศึกษา .............................................................................</p>
                </div>
            </div>
            <div class="from-row">
                <div class="in-row-cell">
                    <p class="text1">คณะ  ...............................................</p>
                </div>
                <div class="in-row-cell">
                    <p class="text1">ภาควิชา/สาขาวิชา  ..................................................</p>
                </div>
            </div>
            <div class="from-row">
                <div class="in-row-cell">
                    <p class="text1">ระดับการศึกษา .........................</p>
                </div>
                <div class="in-row-cell">
                    <p class="text1">คะแนนเฉลี่ยสะสม ...............</p>
                </div>
                <div class="in-row-cell">
                    <p class="text1">ชั้นปี .................</p>
                </div>
                <div class="in-row-cell">
                    <p class="text1">หลักสูตร ...............................</p>
                </div>
            </div>
            <div class="from-row">
                <div class="in-row-cell">
                    <p class="text1">Tel :  ..................................................................... </p>
                </div>
                <div class="in-row-cell">
                    <p class="text1">E-Mail : ......................................................................</p>
                </div>
            </div>
        </div>
        <!-- <hr size="1" width="100%" color="black" >  -->
        <div class="form-content2">
            <h4 class="titleadd">➤ เพิ่มรายวิชา</h5>
                <div class="from-row">
                    <div class="in-row-cell">
                        <p class="text1">รหัสวิชา .......................</p>
                    </div>
                    <div class="in-row-cell">
                        <p class="text1">กลุ่มที่ ............................</p>
                    </div>
                    <div class="in-row-cell">
                        <p class="text1">หน่วยกิต .........................</p>
                    </div>
                    <div class="in-row-cell">
                        <p class="text1">ผู้สอนอนุมัติ .......................</p>
                    </div>
                </div>
                <div class="from-row">
                    <div class="in-row-cell">
                        <p class="text1">รหัสวิชา .......................</p>
                    </div>
                    <div class="in-row-cell">
                        <p class="text1">กลุ่มที่ ............................</p>
                    </div>
                    <div class="in-row-cell">
                        <p class="text1">หน่วยกิต .........................</p>
                    </div>
                    <div class="in-row-cell">
                        <p class="text1">ผู้สอนอนุมัติ .......................</p>
                    </div>
                </div>
                <div class="from-row">
                    <div class="in-row-cell">
                        <p class="text1">รหัสวิชา .......................</p>
                    </div>
                    <div class="in-row-cell">
                        <p class="text1">กลุ่มที่ ............................</p>
                    </div>
                    <div class="in-row-cell">
                        <p class="text1">หน่วยกิต .........................</p>
                    </div>
                    <div class="in-row-cell">
                        <p class="text1">ผู้สอนอนุมัติ .......................</p>
                    </div>
                </div>
        </div>
        <div class="form-content2">
            <h4 class="titleadd">➤ ลด-ถอนรายวิชา</h5>
                <div class="from-row">
                    <div class="in-row-cell">
                        <p class="text1">รหัสวิชา .......................</p>
                    </div>
                    <div class="in-row-cell">
                        <p class="text1">กลุ่มที่ ............................</p>
                    </div>
                    <div class="in-row-cell">
                        <p class="text1">หน่วยกิต .........................</p>
                    </div>
                    <div class="in-row-cell">
                        <p class="text1">ผู้สอนอนุมัติ .......................</p>
                    </div>
                </div>
                <div class="from-row">
                    <div class="in-row-cell">
                        <p class="text1">รหัสวิชา .......................</p>
                    </div>
                    <div class="in-row-cell">
                        <p class="text1">กลุ่มที่ ............................</p>
                    </div>
                    <div class="in-row-cell">
                        <p class="text1">หน่วยกิต .........................</p>
                    </div>
                    <div class="in-row-cell">
                        <p class="text1">ผู้สอนอนุมัติ .......................</p>
                    </div>
                </div>
                <div class="from-row">
                    <div class="in-row-cell">
                        <p class="text1">รหัสวิชา .......................</p>
                    </div>
                    <div class="in-row-cell">
                        <p class="text1">กลุ่มที่ ............................</p>
                    </div>
                    <div class="in-row-cell">
                        <p class="text1">หน่วยกิต .........................</p>
                    </div>
                    <div class="in-row-cell">
                        <p class="text1">ผู้สอนอนุมัติ .......................</p>
                    </div>
                </div>
        </div>
        <div class="form-content2">
            <h4 class="titleadd">➤ เปลี่ยนกลุ่ม</h5>
                <div class="from-row">
                    <div class="in-row-cell">
                        <p class="text1">รหัสวิชา .......................</p>
                    </div>
                    <div class="in-row-cell">
                        <p class="text1">กลุ่มที่ ............................</p>
                    </div>
                    <div class="in-row-cell">
                        <p class="text1">หน่วยกิต .........................</p>
                    </div>
                    <div class="in-row-cell">
                        <p class="text1">ผู้สอนอนุมัติ .......................</p>
                    </div>
                </div>
                <div class="from-row">
                    <div class="in-row-cell">
                        <p class="text1">รหัสวิชา .......................</p>
                    </div>
                    <div class="in-row-cell">
                        <p class="text1">กลุ่มที่ ............................</p>
                    </div>
                    <div class="in-row-cell">
                        <p class="text1">หน่วยกิต .........................</p>
                    </div>
                    <div class="in-row-cell">
                        <p class="text1">ผู้สอนอนุมัติ .......................</p>
                    </div>
                </div>
                <div class="from-row">
                    <div class="in-row-cell">
                        <p class="text1">รหัสวิชา .......................</p>
                    </div>
                    <div class="in-row-cell">
                        <p class="text1">กลุ่มที่ ............................</p>
                    </div>
                    <div class="in-row-cell">
                        <p class="text1">หน่วยกิต .........................</p>
                    </div>
                    <div class="in-row-cell">
                        <p class="text1">ผู้สอนอนุมัติ .......................</p>
                    </div>
                </div>
        </div>
        <div class="form-content2">
            <h4 class="titleadd">ความคิดเห็นและข้อเสนอแนะ</h5>
                <div class="from-row">
                    <div class="in-row-cell">
                        <div class="comment-box">
                            <p class="shh">................................................</p>
                            <p class="shh">................................................</p>
                            <p class="shh">................................................</p>
                            <p class="shh">................................................</p>
                            <p>................................................ (ลงชื่ออาจารย์ที่ปรึกษา)</p>
                            <p>..../..../....</p>
                        </div>
                    </div>
                    <div class="in-row-cell">
                        <div class="comment-box">
                            <p class="shh">................................................</p>
                            <p class="shh">................................................</p>
                            <p class="shh">................................................</p>
                            <p class="shh">................................................</p>
                            <p>................................................ (ลงชื่อหัวหน้าภาควิชา)</p>
                            <p>..../..../....</p>
                        </div>
                    </div>
                    <div class="in-row-cell">
                        <div class="comment-box">
                            <p class="shh">................................................</p>
                            <p class="shh">................................................</p>
                            <p class="shh">................................................</p>
                            <p class="shh">................................................</p>
                            <p>................................................ (ลงชื่อเจ้าหน้าที่ทะเบียน)</p>
                            <p>..../..../....</p>
                        </div>
                    </div>
                </div> 
        </div>
    </div>
    
</body>
</html>
